[defaults]
# Inventory configuration
inventory = ./inventory/inv.yaml
host_key_checking = False
vault_password_file = .vault_pass.txt

# Output configuration
stdout_callback = ansible.builtin.default
callback_result_format = yaml
bin_ansible_callbacks = True

# Connection settings
timeout = 30
gather_facts = no

# Roles path
roles_path = ./roles

# Retry files
retry_files_enabled = False

# Logging
#log_path = ./ansible.log

[inventory]
enable_plugins = yaml, netbox

[persistent_connection]
connect_timeout = 30
command_timeout = 30
